core-service/.venv
core-service/.env
core-service/core/__pycache__
core-service/Users/__pycache__
core-service/Users/migrations/__pycache__
core-service/BlogPosts/__pycache__
core-service/BlogPosts/migrations/__pycache__