core-service/.venv
core-service/.env
core-service/core/__pycache__
core-service/Users/__pycache__
core-service/Users/migrations/__pycache__
core-service/BlogPosts/__pycache__
core-service/BlogPosts/migrations/__pycache__
core-service/BlogPosts/management/commands/__pycache__


frontend/.DS_Store
frontend/node_modules
frontend/dist

# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
frontend/.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
